@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;1,300&display=swap");

.home {
  margin: 32px 24px;
  font-family: "Rubik", sans-serif;
}
.text h1 span {
  font-family: Rublik-var;
}
.text h1 {
  font-size: 40px;
}
.text p {
  font-size: 14px;
  padding-top: 16px;
  font-family: Rublik-it;
}

.quiz-list {
  padding: 40px 0;
  font-family: Rublik-400;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list {
  padding: 12px 0;
  border-radius: 12px;
  background-color: white;
}

.list a {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #313e51;
  text-decoration: none;
}
.list svg {
  border-radius: 5px;
  padding: 3px;
  margin-left: 12px;
}

.html svg {
  background-color: #fff1e9;
}

.css svg {
  background-color: #e0fdef;
}
.js svg {
  background-color: #ebf0ff;
}
.acc svg {
  background-color: #f6e7ff;
}

.dark-mode-p {
  color: #abc1e1;
}

.dark-mode-div {
  background-color: #3b4d66;
  color: #ffffff;
}

.svg-bl {
  background-color: #ebf0ff;
}
.svg-p {
  background-color: #f6e7ff;
}
