.background {
  background-position: center;
  height: 100vh;
}

.light-mode {
  background-image: url("/src/assets/images/pattern-background-mobile-light.svg");
  background-color: #f4f6fa;
  color: #313e51;
  overflow: hidden;
}

.dark-mode {
  background-image: url("/src/assets/images/pattern-background-mobile-dark.svg");
  background-color: #313e51;
  color: #fff;  overflow: hidden;

}


.app {
  transition: background-color 0.3s, color 0.3s;
}
